# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:

print(data.shape)
data.head(20)

(32658, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,$91080.00,NaN
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,$114846.00,NaN
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,$53076.00,NaN
10,"FINN, SEAN P",FIREFIGHTER,FIRE,F,Salary,NaN,$87006.00,NaN
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,$14.51
12,"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
13,"GRAFF, KEVIN M",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
14,"GUNN, ISSAC J",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$80868.00,NaN
15,"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
16,"HATTULA, CARL J",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
17,"HILL, LATINA P",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
18,"HOLLER, JOEL P",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
19,"HROMA JR, JOHN",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
data['Department'].value_counts()

POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
CITY CLERK                  85
MAYOR'S OFFICE              85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
print(data.dtypes)

print(data['Hourly Rate'].unique())

# i first need to get the hourly rate to numerical. so i need to drop the $.

data['hourly_clean'] = data['Hourly Rate'].replace({'\$':''}, regex = True)

print(data['hourly_clean'].unique())
# now this collumn is clean i need to convert the data to numerical as it is now an object

data['hourly_clean']= data['hourly_clean'].astype(float, errors = 'ignore')

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Typical Hours        float64
Annual Salary         object
Hourly Rate           object
dtype: object
[nan '$14.51' '$19.66' '$46.10' '$35.60' '$2.65' '$17.50' '$20.77'
 '$25.10' '$36.21' '$44.88' '$37.25' '$48.25' '$40.20' '$36.13' '$28.48'
 '$32.25' '$21.20' '$20.12' '$13.15' '$21.98' '$15.07' '$19.50' '$32.04'
 '$34.57' '$8.25' '$47.44' '$46.35' '$32.59' '$36.22' '$14.40' '$30.51'
 '$45.07' '$19.19' '$20.11' '$49.10' '$14.75' '$18.34' '$9.46' '$44.25'
 '$22.14' '$35.57' '$21.43' '$23.31' '$44.55' '$16.17' '$50.25' '$38.33'
 '$12.00' '$53.10' '$12.49' '$24.42' '$52.18' '$13.80' '$41.10' '$22.13'
 '$41.70' '$37.45' '$32.16' '$53.90' '$45.35' '$17.15' '$19.00' '$10.00'
 '$30.20' '$17.25' '$16.71' '$21.09' '$45.43' '$22.00' '$47.50' '$15.00'
 '$52.10' '$13.00' '$48.90' '$38.14' '$33.56' '$22.12' '$9.27' '$13.75'
 '$45.75' '$24.12' '$8.50' '$71.29' '$20.88' '$26.32' '$43.03' '$18.00'
 '$10.50' '$46.47' '$46.20' '$48.85' '$11.00' '$37.56' '$41.00' '$41.30'
 '$46.25' '$22.75' '$19.61' '$20.24' '$36.18' '$30.21' '$47.85' '$37.08'
 '$50.50' '$24.41' '$24.63' '$17.74' '$14.00' '$32.09' '$41.72' '$40.70'
 '$9.50' '$22.88' '$15.25' '$32.71' '$38.35' '$50.12' '$50.80' '$33.38'
 '$32.45' '$44.59' '$21.62' '$49.37' '$14.25' '$47.80' '$17.33' '$19.15'
 '$52.52' '$34.66' '$37.47' '$20.00' '$27.66' '$47.33' '$78.91' '$45.93'
 '$57.95' '$96.00' '$39.05' '$49.52' '$28.00' '$20.94' '$49.95' '$26.33'
 '$36.75' '$25.00' '$28.14' '$15.78' '$26.06' '$47.00' '$42.05' '$50.10'
 '$46.75' '$12.50' '$48.20' '$11.50' '$50.20' '$26.11' '$17.00' '$21.55'
 '$15.75' '$15.23' '$19.47' '$35.50' '$16.49' '$24.49' '$19.30' '$35.43']
[nan '14.51' '19.66' '46.10' '35.60' '2.65' '17.50' '20.77' '25.10'
 '36.21' '44.88' '37.25' '48.25' '40.20' '36.13' '28.48' '32.25' '21.20'
 '20.12' '13.15' '21.98' '15.07' '19.50' '32.04' '34.57' '8.25' '47.44'
 '46.35' '32.59' '36.22' '14.40' '30.51' '45.07' '19.19' '20.11' '49.10'
 '14.75' '18.34' '9.46' '44.25' '22.14' '35.57' '21.43' '23.31' '44.55'
 '16.17' '50.25' '38.33' '12.00' '53.10' '12.49' '24.42' '52.18' '13.80'
 '41.10' '22.13' '41.70' '37.45' '32.16' '53.90' '45.35' '17.15' '19.00'
 '10.00' '30.20' '17.25' '16.71' '21.09' '45.43' '22.00' '47.50' '15.00'
 '52.10' '13.00' '48.90' '38.14' '33.56' '22.12' '9.27' '13.75' '45.75'
 '24.12' '8.50' '71.29' '20.88' '26.32' '43.03' '18.00' '10.50' '46.47'
 '46.20' '48.85' '11.00' '37.56' '41.00' '41.30' '46.25' '22.75' '19.61'
 '20.24' '36.18' '30.21' '47.85' '37.08' '50.50' '24.41' '24.63' '17.74'
 '14.00' '32.09' '41.72' '40.70' '9.50' '22.88' '15.25' '32.71' '38.35'
 '50.12' '50.80' '33.38' '32.45' '44.59' '21.62' '49.37' '14.25' '47.80'
 '17.33' '19.15' '52.52' '34.66' '37.47' '20.00' '27.66' '47.33' '78.91'
 '45.93' '57.95' '96.00' '39.05' '49.52' '28.00' '20.94' '49.95' '26.33'
 '36.75' '25.00' '28.14' '15.78' '26.06' '47.00' '42.05' '50.10' '46.75'
 '12.50' '48.20' '11.50' '50.20' '26.11' '17.00' '21.55' '15.75' '15.23'
 '19.47' '35.50' '16.49' '24.49' '19.30' '35.43']

In [9]:
# because my tests come back as nan i will copy the collumn i need to work with and clean that. Then use it for my tests

clean_hourly_rate = data.copy()

clean_hourly_rate.dropna(subset=['hourly_clean'], inplace=True)

print(clean_hourly_rate.shape)

clean_hourly_rate.head()

(7883, 9)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,hourly_clean
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,$14.51,14.51
54,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,$19.66,19.66
56,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,$46.10,46.10
57,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60,35.60
60,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,$2.65,2.65

In [10]:
from scipy.stats import ttest_1samp

# H0: mean hourly wage in dollars = 30
# H1: mean hourly wage in dollars != 30

stat, pval = ttest_1samp(clean_hourly_rate['hourly_clean'], 30)

In [11]:
print('stat is ', stat)
print('pvalue for the two-tailed test is ', pval)

print('pvalue for the one-tailed test is ', pval/2)

#P value really low so we reject the H0

stat is  21.003532193332216
pvalue for the two-tailed test is  2.4048011351057683e-95
pvalue for the one-tailed test is  1.2024005675528841e-95

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [12]:
#lets do the same as the hourly rate. starting by cleaning the values
print(data['Annual Salary'].unique())

data['Annual Salary'] = data['Annual Salary'].replace({'\$':''}, regex = True)

print(data['Annual Salary'].unique())

data['ann_clean']= data['Annual Salary'].astype(float, errors = 'ignore')

data['ann_clean'].dtypes

['$107790.00' '$104628.00' '$114324.00' ... '$185004.00' '$64056.00'
 '$81672.00']
['107790.00' '104628.00' '114324.00' ... '185004.00' '64056.00' '81672.00']

dtype('float64')

In [13]:
clean_ann = data.copy()

clean_ann.dropna(subset=['ann_clean'], inplace=True)

print(clean_ann.shape)

clean_ann.head()

(24775, 10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,hourly_clean,ann_clean
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,107790.00,NaN,NaN,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,104628.00,NaN,NaN,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.00,NaN,NaN,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,76932.00,NaN,NaN,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,111474.00,NaN,NaN,111474.0

In [14]:
# H0: mean salary of >=86000
# H1: mean salary of < 86000

stat, pval = ttest_1samp(clean_ann['ann_clean'], 86000)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

print('pvalue for the one-tailed test is ', pval/2)

#P value really low so we reject the H0

stat is   11.579263110111727
pvalue for the two-tailed test is  6.306554670916399e-31
pvalue for the one-tailed test is  3.1532773354581996e-31

Using the `crosstab` function, find the department that has the most hourly workers.

In [15]:
# before i can make the crosstab i will have to clean the hour data too. 
# but if i select the hourly rate copy i have no nan in the typical hour column.

In [16]:
most_workers = pd.crosstab(clean_hourly_rate['Department'],clean_hourly_rate['Typical Hours'], margins=True)

most_workers

#i prefer to have this sorted descending on the All collumn but i dont know how to do this yet.

most_workers_list=most_workers['All']

most_workers_list.sort_values(ascending=False)

# I think i managed by a workaround, not sure though.

Department
All                      7883
STREETS & SAN            1873
WATER MGMNT              1512
OEMC                     1212
AVIATION                 1056
GENERAL SERVICES          767
TRANSPORTN                707
FAMILY & SUPPORT          300
PUBLIC LIBRARY            224
CITY COUNCIL               52
LAW                        44
FINANCE                    43
POLICE                     32
ANIMAL CONTRL              16
CULTURAL AFFAIRS           10
BUSINESS AFFAIRS            8
MAYOR'S OFFICE              7
PROCUREMENT                 4
COMMUNITY DEVELOPMENT       4
HEALTH                      4
CITY CLERK                  3
FIRE                        2
HUMAN RESOURCES             1
TREASURER                   1
BUDGET & MGMT               1
Name: All, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [17]:
workers = clean_hourly_rate[clean_hourly_rate['Department'] == "STREETS & SAN"]

print(len(workers))
workers.head()

1873

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,hourly_clean
57,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60,35.60
73,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,$20.77,20.77
76,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60,35.60
85,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,$36.21,36.21
88,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60,35.60

In [18]:
stat, pval = ttest_1samp(workers['hourly_clean'], 35)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

print('pvalue for the one-tailed test is ', pval/2)

stat is   -7.172610090911691
pvalue for the two-tailed test is  1.0552486304260417e-12
pvalue for the one-tailed test is  5.276243152130208e-13

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [20]:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(workers) - 1
sample_mean = np.mean(workers['hourly_clean'])
sample_standard_error = scipy.stats.sem(workers['hourly_clean'])

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

# I am 95% sure that the mean wage of the workers is between $33.81 and $34.32

confidence interval is  (33.81222579024323, 34.32230704477966) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [22]:
confidence_level = 0.95
degrees_freedom = len(clean_ann['ann_clean']) - 1
sample_mean = np.mean(clean_ann['ann_clean'])
sample_standard_error = scipy.stats.sem(clean_ann['ann_clean'])

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'I am 95% sure that the mean annual salary of the workers is between ', confidence_interval, '.' )

I am 95% sure that the mean annual salary of the workers is between  (87256.70698119195, 87768.85350155288) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: